extends globals/layout

block scripts

block content
  - if( user )
    h1
      a(href="/create") Create Game
  - else
    h1 You will need to 
      a(href="/login") log in
      |  to create a game.
    - if( gameserver.count() > 0 )
      p Alternatively, you can view one of the following games:
      nav
        - var gamecount = 0
        each game, iter in gameserver.games
          - gamecount++
          a(href="/game/#{iter}")= iter
          |  (#{gameserver.count(game.players) + game.lobby.length})
          - if( gameserver.count() !== gamecount ) 
            | , 
