extends globals/layout

block scripts
  script(type="text/javascript", src="/socket.io/socket.io.js")
  script(type="text/javascript", src="/javascripts/socket.js")

block content
  - if( message )
    h1= message
  - if( user )
    h1 You are already logged in as #{user.username}.
      a( href="/logout" ) log out?
  - else
    form(action='/login', method='post')
      div
        label Username:
        input(type='text', name='user[username]')
      div
        label Password:
        input(type='password', name='user[password]')
      div
        input(type='submit', value='Log In')
