extends globals/layout

block scripts
  script(type="text/javascript", src="/javascripts/chatlog.js")

block content
  if( user )
    #chat
      #display
      form#message
        input(type="text", placeholder="Type to chatroom...")
        input(type="submit", value="Send")
