extends globals/layout

block scripts
  script(type="text/javascript", src="/socket.io/socket.io.js")
  script(type="text/javascript", src="/javascripts/socket.js")

block content
  - if(message)
    h1= message
  form(action='/signup', method='post')
    div
      label Name:
      input.fname(type='text', name='user[fname]', placeholder='First')
      input.lname(type='text', name='user[lname]', placeholder='Last')
    div
      label Email:
      input.email(type='text', name="user[email]")
    div
      label Username:
      input.username(type='text', name="user[username]")
    div
      label Password:
      input.password(type='password', name="user[password]")
    div
      input(type='submit', value='Sign Up')
